<launch>
  <arg name="video_only" default="false" />

  <include file="$(find upcom_teleop)/launch/joy_cmdr.launch" unless="$(arg video_only)" />
  <!-- <include file="$(find up1_control)/launch/teleop.launch" unless="$(arg video_only)" /> -->

  <!-- include file="$(find up1_hardware)/launch/usb_cam.launch"  -->
  <!-- include file="$(find up1_hardware)/launch/web_video_server.launch" -->
</launch>
